h1{
	color: #FD6064;
}

h2{
	color: #FFD160;
}

span{
	color: #313237;
}

article{
  background-color: #e5e5e5;
}

#profile{
	float: right;
	top: -40px;
	min-height: 100px;
	min-width: 100px;
	max-height: 175px;
	max-width: 175px;
}

#profileDescription{
  margin-right: 200px;
}

#header{
  text-align: center;
}

.project{
	float: left;
	width: 33.33%;
}

.title{
	border-bottom: 3px solid black;
	max-width: 320px;
}

.boarder{
	border: 1px solid black;
	outline-color: black;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media (min-width: 768px) and (max-width: 981px) {
  .wrap {
    width: auto;
  }
  .project{
  	width: 50%;
  }
  #project3{
  	width: 100%;
  }
}

@media (max-width: 767px){
  .wrap {
  	clear: both;
    width: auto;
  }
  .project{
  	clear: both;
  	width: 100%;
  }
  #project3{
  	clear: both;
  	width: 100%;
  }
}


*{
 box-sizing: border-box;
 margin-left: 0;
 margin-right: 0;
}

/* 141419 a light black color 

box-sizing:boarder-box;
*/ 